
.box__authentication {
  height: 55vh;
  width: 45vh;
  border-radius: 12px;
  background-color: white;
  border: 1px solid rgb(199, 34, 93);
  box-shadow: 8px 8px 20px rgba(199, 33, 93, 0.1);
  color: rgb(199, 33, 93);
}

.box__authentication__position__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.box__authentication__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__title {
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 10px;
}

.box__form__task {
  width: 25%;
  margin-top: 100px;
}
