.link {
  padding-left: 4%;
  color: rgb(199, 33, 93);

  &:hover {
    text-decoration: underline;
  }
}

.invalid-feedback {
  font-size: 10px;
  width: 250px;
}

.link_padding {
  padding-right: 4%;
}
